<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title >Tuitionpedia4You</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="availableTuition.css">
    </head>
    <body>
       <!------------ class of body -------------->
       <div class="container">

        <!---header part--------------->
        <div class="navbar">
            <img src="images/tuitonpedia.jpg" class="tuitionpedia">
            <nav>
                <ul>
                    <li><a href="home.html">HOMEPAGE</a></li>
                    <li><a href="Registration.html">REGISTRATION</a></li>
                    <a href="login.html">                 
                           <button type="button" class="btnlogin" >LOGIN</button>
                    </a>
                </ul>
            </nav>
            
        </div> 
        <!-------end of header part------------------>

        
        <div class="title">
            <img src="images/116.png" >
            <div class="layer">
                <h3 style="text-align: center;">Availabe Tuitions <br><br> <br>Tuitionpedia4You.com is one of the largest
                    tuition media in Bangladesh. <br>Which aims to
                    provide tuition to people who are searching
                    for tuition. We have an objective to provide
                    highly qualified teachers To those who can't
                    find the appropriate teachers. <br>We have large
                    number of tutors from different university and 
                    different subjects</h3>
            </div>
        </div>



        

 
         <div class="search" style="align-items: center;">
            <label>
                <input type="text" placeholder="SEARCH "style="align-items: center;width: 100%;height: 50px; background-color:white;margin-top:20px;color:black;">
                <ion-icon name="search-outline"></ion-icon>
            </label>
        </div>
   
  
<div class="cardBox"> 
    
    <!-- Search bar  -->
   
        
    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a>

</h5>  
</div>

<div class="tuition-col">
    
        <h5> Tuition Code : 2rA23
            <a class="item-block" href="#">
                <div  class="text-center"> <b>CUET </b>Female Tutor Wanted
                    in <b>Chittagong</b> </div>
                <header class="boxx">
                    <div> <img src="moni/lady.png"></div>
                    <div class="hgroup">
                        <h4>Class: 9</h4>
                        <h5>Group: Science</h5>
                        <h5>Medium: English</h5>
                        <h5><b>Subject: Phy,Chem,Math</b></h5>
                        <h5><b>Salary: 8000 BDT</b></h5>
                    </div>
                    <div class="header-meta">
                        <span class="location">Chittagong</span>
                        <span class="label label-success">3 Days/Week</span>
                        <span class="label label-danger">Time: 7:00pm</span>
                        <span class="label label-warning">Duration: 1.5 Hours</span>
                        <span class="label label-info">Media Fee : 35%</span>
                    </div>
                </header>
            </a>
    
    
            <a href="applytuition.html">
                <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
            </a>    </div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">

<h5>Tuition Code : 2rA23
<a class="item-block" href="#">
<div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
in <b>Chittagong</b> </div>
<header class="boxx">
<div> <img src="moni/any.png"></div>
<div class="hgroup">
    <h4>Class: 10</h4>
    <h5>Group: Science</h5>
    <h5>Medium: Bangla</h5>
    <h5><b>Subject: Phy,Chem,Math</b></h5>
    <h5><b>Salary: 5000 BDT</b></h5>
</div>
<div class="header-meta">
    <span class="location">Chittagong</span>
    <span class="label label-success">3 Days/Week</span>
    <span class="label label-danger">Time: 4:00pm</span>
    <span class="label label-warning">Duration: 1.5 Hours</span>
    <span class="label label-info">Media Fee : 35%</span>
</div>
</header>
</a>
<a href="applytuition.html">
    <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
</a></h5>  
</div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">
    
        <h5> Tuition Code : 2rA23
            <a class="item-block" href="#">
                <div  class="text-center"> <b>CUET </b>Female Tutor Wanted
                    in <b>Chittagong</b> </div>
                <header class="boxx">
                    <div> <img src="moni/lady.png"></div>
                    <div class="hgroup">
                        <h4>Class: 9</h4>
                        <h5>Group: Science</h5>
                        <h5>Medium: English</h5>
                        <h5><b>Subject: Phy,Chem,Math</b></h5>
                        <h5><b>Salary: 8000 BDT</b></h5>
                    </div>
                    <div class="header-meta">
                        <span class="location">Chittagong</span>
                        <span class="label label-success">3 Days/Week</span>
                        <span class="label label-danger">Time: 7:00pm</span>
                        <span class="label label-warning">Duration: 1.5 Hours</span>
                        <span class="label label-info">Media Fee : 35%</span>
                    </div>
                </header>
            </a>
    
    
            <a href="applytuition.html">
                <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
            </a>    </div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">

<h5>Tuition Code : 2rA23
<a class="item-block" href="#">
<div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
in <b>Chittagong</b> </div>
<header class="boxx">
<div> <img src="moni/any.png"></div>
<div class="hgroup">
    <h4>Class: 10</h4>
    <h5>Group: Science</h5>
    <h5>Medium: Bangla</h5>
    <h5><b>Subject: Phy,Chem,Math</b></h5>
    <h5><b>Salary: 5000 BDT</b></h5>
</div>
<div class="header-meta">
    <span class="location">Chittagong</span>
    <span class="label label-success">3 Days/Week</span>
    <span class="label label-danger">Time: 4:00pm</span>
    <span class="label label-warning">Duration: 1.5 Hours</span>
    <span class="label label-info">Media Fee : 35%</span>
</div>
</header>
</a>
<a href="applytuition.html">
    <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
</a></h5>  
</div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">
    
        <h5> Tuition Code : 2rA23
            <a class="item-block" href="#">
                <div  class="text-center"> <b>CUET </b>Female Tutor Wanted
                    in <b>Chittagong</b> </div>
                <header class="boxx">
                    <div> <img src="moni/lady.png"></div>
                    <div class="hgroup">
                        <h4>Class: 9</h4>
                        <h5>Group: Science</h5>
                        <h5>Medium: English</h5>
                        <h5><b>Subject: Phy,Chem,Math</b></h5>
                        <h5><b>Salary: 8000 BDT</b></h5>
                    </div>
                    <div class="header-meta">
                        <span class="location">Chittagong</span>
                        <span class="label label-success">3 Days/Week</span>
                        <span class="label label-danger">Time: 7:00pm</span>
                        <span class="label label-warning">Duration: 1.5 Hours</span>
                        <span class="label label-info">Media Fee : 35%</span>
                    </div>
                </header>
            </a>
    
    
            <a href="applytuition.html">
                <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
            </a>    </div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">

<h5>Tuition Code : 2rA23
<a class="item-block" href="#">
<div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
in <b>Chittagong</b> </div>
<header class="boxx">
<div> <img src="moni/any.png"></div>
<div class="hgroup">
    <h4>Class: 10</h4>
    <h5>Group: Science</h5>
    <h5>Medium: Bangla</h5>
    <h5><b>Subject: Phy,Chem,Math</b></h5>
    <h5><b>Salary: 5000 BDT</b></h5>
</div>
<div class="header-meta">
    <span class="location">Chittagong</span>
    <span class="label label-success">3 Days/Week</span>
    <span class="label label-danger">Time: 4:00pm</span>
    <span class="label label-warning">Duration: 1.5 Hours</span>
    <span class="label label-info">Media Fee : 35%</span>
</div>
</header>
</a>
<a href="applytuition.html">
    <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
</a></h5>  
</div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">
    
        <h5> Tuition Code : 2rA23
            <a class="item-block" href="#">
                <div  class="text-center"> <b>CUET </b>Female Tutor Wanted
                    in <b>Chittagong</b> </div>
                <header class="boxx">
                    <div> <img src="moni/lady.png"></div>
                    <div class="hgroup">
                        <h4>Class: 9</h4>
                        <h5>Group: Science</h5>
                        <h5>Medium: English</h5>
                        <h5><b>Subject: Phy,Chem,Math</b></h5>
                        <h5><b>Salary: 8000 BDT</b></h5>
                    </div>
                    <div class="header-meta">
                        <span class="location">Chittagong</span>
                        <span class="label label-success">3 Days/Week</span>
                        <span class="label label-danger">Time: 7:00pm</span>
                        <span class="label label-warning">Duration: 1.5 Hours</span>
                        <span class="label label-info">Media Fee : 35%</span>
                    </div>
                </header>
            </a>
    
    
            <a href="applytuition.html">
                <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
            </a>    </div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">

<h5>Tuition Code : 2rA23
<a class="item-block" href="#">
<div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
in <b>Chittagong</b> </div>
<header class="boxx">
<div> <img src="moni/any.png"></div>
<div class="hgroup">
    <h4>Class: 10</h4>
    <h5>Group: Science</h5>
    <h5>Medium: Bangla</h5>
    <h5><b>Subject: Phy,Chem,Math</b></h5>
    <h5><b>Salary: 5000 BDT</b></h5>
</div>
<div class="header-meta">
    <span class="location">Chittagong</span>
    <span class="label label-success">3 Days/Week</span>
    <span class="label label-danger">Time: 4:00pm</span>
    <span class="label label-warning">Duration: 1.5 Hours</span>
    <span class="label label-info">Media Fee : 35%</span>
</div>
</header>
</a>
<a href="applytuition.html">
    <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
</a></h5>  
</div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">
    
        <h5> Tuition Code : 2rA23
            <a class="item-block" href="#">
                <div  class="text-center"> <b>CUET </b>Female Tutor Wanted
                    in <b>Chittagong</b> </div>
                <header class="boxx">
                    <div> <img src="moni/lady.png"></div>
                    <div class="hgroup">
                        <h4>Class: 9</h4>
                        <h5>Group: Science</h5>
                        <h5>Medium: English</h5>
                        <h5><b>Subject: Phy,Chem,Math</b></h5>
                        <h5><b>Salary: 8000 BDT</b></h5>
                    </div>
                    <div class="header-meta">
                        <span class="location">Chittagong</span>
                        <span class="label label-success">3 Days/Week</span>
                        <span class="label label-danger">Time: 7:00pm</span>
                        <span class="label label-warning">Duration: 1.5 Hours</span>
                        <span class="label label-info">Media Fee : 35%</span>
                    </div>
                </header>
            </a>
    
    
            <a href="applytuition.html">
                <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
            </a>    </div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">

<h5>Tuition Code : 2rA23
<a class="item-block" href="#">
<div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
in <b>Chittagong</b> </div>
<header class="boxx">
<div> <img src="moni/any.png"></div>
<div class="hgroup">
    <h4>Class: 10</h4>
    <h5>Group: Science</h5>
    <h5>Medium: Bangla</h5>
    <h5><b>Subject: Phy,Chem,Math</b></h5>
    <h5><b>Salary: 5000 BDT</b></h5>
</div>
<div class="header-meta">
    <span class="location">Chittagong</span>
    <span class="label label-success">3 Days/Week</span>
    <span class="label label-danger">Time: 4:00pm</span>
    <span class="label label-warning">Duration: 1.5 Hours</span>
    <span class="label label-info">Media Fee : 35%</span>
</div>
</header>
</a>
<a href="applytuition.html">
    <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
</a></h5>  
</div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">
    
        <h5> Tuition Code : 2rA23
            <a class="item-block" href="#">
                <div  class="text-center"> <b>CUET </b>Female Tutor Wanted
                    in <b>Chittagong</b> </div>
                <header class="boxx">
                    <div> <img src="moni/lady.png"></div>
                    <div class="hgroup">
                        <h4>Class: 9</h4>
                        <h5>Group: Science</h5>
                        <h5>Medium: English</h5>
                        <h5><b>Subject: Phy,Chem,Math</b></h5>
                        <h5><b>Salary: 8000 BDT</b></h5>
                    </div>
                    <div class="header-meta">
                        <span class="location">Chittagong</span>
                        <span class="label label-success">3 Days/Week</span>
                        <span class="label label-danger">Time: 7:00pm</span>
                        <span class="label label-warning">Duration: 1.5 Hours</span>
                        <span class="label label-info">Media Fee : 35%</span>
                    </div>
                </header>
            </a>
    
    
            <a href="applytuition.html">
                <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
            </a>    </div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">

<h5>Tuition Code : 2rA23
<a class="item-block" href="#">
<div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
in <b>Chittagong</b> </div>
<header class="boxx">
<div> <img src="moni/any.png"></div>
<div class="hgroup">
    <h4>Class: 10</h4>
    <h5>Group: Science</h5>
    <h5>Medium: Bangla</h5>
    <h5><b>Subject: Phy,Chem,Math</b></h5>
    <h5><b>Salary: 5000 BDT</b></h5>
</div>
<div class="header-meta">
    <span class="location">Chittagong</span>
    <span class="label label-success">3 Days/Week</span>
    <span class="label label-danger">Time: 4:00pm</span>
    <span class="label label-warning">Duration: 1.5 Hours</span>
    <span class="label label-info">Media Fee : 35%</span>
</div>
</header>
</a>
<a href="applytuition.html">
    <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
</a></h5>  
</div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">
    
        <h5> Tuition Code : 2rA23
            <a class="item-block" href="#">
                <div  class="text-center"> <b>CUET </b>Female Tutor Wanted
                    in <b>Chittagong</b> </div>
                <header class="boxx">
                    <div> <img src="moni/lady.png"></div>
                    <div class="hgroup">
                        <h4>Class: 9</h4>
                        <h5>Group: Science</h5>
                        <h5>Medium: English</h5>
                        <h5><b>Subject: Phy,Chem,Math</b></h5>
                        <h5><b>Salary: 8000 BDT</b></h5>
                    </div>
                    <div class="header-meta">
                        <span class="location">Chittagong</span>
                        <span class="label label-success">3 Days/Week</span>
                        <span class="label label-danger">Time: 7:00pm</span>
                        <span class="label label-warning">Duration: 1.5 Hours</span>
                        <span class="label label-info">Media Fee : 35%</span>
                    </div>
                </header>
            </a>
    
    
            <a href="applytuition.html">
                <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
            </a>    </div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">

<h5>Tuition Code : 2rA23
<a class="item-block" href="#">
<div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
in <b>Chittagong</b> </div>
<header class="boxx">
<div> <img src="moni/any.png"></div>
<div class="hgroup">
    <h4>Class: 10</h4>
    <h5>Group: Science</h5>
    <h5>Medium: Bangla</h5>
    <h5><b>Subject: Phy,Chem,Math</b></h5>
    <h5><b>Salary: 5000 BDT</b></h5>
</div>
<div class="header-meta">
    <span class="location">Chittagong</span>
    <span class="label label-success">3 Days/Week</span>
    <span class="label label-danger">Time: 4:00pm</span>
    <span class="label label-warning">Duration: 1.5 Hours</span>
    <span class="label label-info">Media Fee : 35%</span>
</div>
</header>
</a>
<a href="applytuition.html">
    <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
</a></h5>  
</div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">
    
        <h5> Tuition Code : 2rA23
            <a class="item-block" href="#">
                <div  class="text-center"> <b>CUET </b>Female Tutor Wanted
                    in <b>Chittagong</b> </div>
                <header class="boxx">
                    <div> <img src="moni/lady.png"></div>
                    <div class="hgroup">
                        <h4>Class: 9</h4>
                        <h5>Group: Science</h5>
                        <h5>Medium: English</h5>
                        <h5><b>Subject: Phy,Chem,Math</b></h5>
                        <h5><b>Salary: 8000 BDT</b></h5>
                    </div>
                    <div class="header-meta">
                        <span class="location">Chittagong</span>
                        <span class="label label-success">3 Days/Week</span>
                        <span class="label label-danger">Time: 7:00pm</span>
                        <span class="label label-warning">Duration: 1.5 Hours</span>
                        <span class="label label-info">Media Fee : 35%</span>
                    </div>
                </header>
            </a>
    
    
            <a href="applytuition.html">
                <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
            </a>    </div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">

<h5>Tuition Code : 2rA23
<a class="item-block" href="#">
<div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
in <b>Chittagong</b> </div>
<header class="boxx">
<div> <img src="moni/any.png"></div>
<div class="hgroup">
    <h4>Class: 10</h4>
    <h5>Group: Science</h5>
    <h5>Medium: Bangla</h5>
    <h5><b>Subject: Phy,Chem,Math</b></h5>
    <h5><b>Salary: 5000 BDT</b></h5>
</div>
<div class="header-meta">
    <span class="location">Chittagong</span>
    <span class="label label-success">3 Days/Week</span>
    <span class="label label-danger">Time: 4:00pm</span>
    <span class="label label-warning">Duration: 1.5 Hours</span>
    <span class="label label-info">Media Fee : 35%</span>
</div>
</header>
</a>
<a href="applytuition.html">
    <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
</a></h5>  
</div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">
    
        <h5> Tuition Code : 2rA23
            <a class="item-block" href="#">
                <div  class="text-center"> <b>CUET </b>Female Tutor Wanted
                    in <b>Chittagong</b> </div>
                <header class="boxx">
                    <div> <img src="moni/lady.png"></div>
                    <div class="hgroup">
                        <h4>Class: 9</h4>
                        <h5>Group: Science</h5>
                        <h5>Medium: English</h5>
                        <h5><b>Subject: Phy,Chem,Math</b></h5>
                        <h5><b>Salary: 8000 BDT</b></h5>
                    </div>
                    <div class="header-meta">
                        <span class="location">Chittagong</span>
                        <span class="label label-success">3 Days/Week</span>
                        <span class="label label-danger">Time: 7:00pm</span>
                        <span class="label label-warning">Duration: 1.5 Hours</span>
                        <span class="label label-info">Media Fee : 35%</span>
                    </div>
                </header>
            </a>
    
    
            <a href="applytuition.html">
                <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
            </a>    </div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">

<h5>Tuition Code : 2rA23
<a class="item-block" href="#">
<div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
in <b>Chittagong</b> </div>
<header class="boxx">
<div> <img src="moni/any.png"></div>
<div class="hgroup">
    <h4>Class: 10</h4>
    <h5>Group: Science</h5>
    <h5>Medium: Bangla</h5>
    <h5><b>Subject: Phy,Chem,Math</b></h5>
    <h5><b>Salary: 5000 BDT</b></h5>
</div>
<div class="header-meta">
    <span class="location">Chittagong</span>
    <span class="label label-success">3 Days/Week</span>
    <span class="label label-danger">Time: 4:00pm</span>
    <span class="label label-warning">Duration: 1.5 Hours</span>
    <span class="label label-info">Media Fee : 35%</span>
</div>
</header>
</a>
<a href="applytuition.html">
    <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
</a></h5>  
</div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">
    
        <h5> Tuition Code : 2rA23
            <a class="item-block" href="#">
                <div  class="text-center"> <b>CUET </b>Female Tutor Wanted
                    in <b>Chittagong</b> </div>
                <header class="boxx">
                    <div> <img src="moni/lady.png"></div>
                    <div class="hgroup">
                        <h4>Class: 9</h4>
                        <h5>Group: Science</h5>
                        <h5>Medium: English</h5>
                        <h5><b>Subject: Phy,Chem,Math</b></h5>
                        <h5><b>Salary: 8000 BDT</b></h5>
                    </div>
                    <div class="header-meta">
                        <span class="location">Chittagong</span>
                        <span class="label label-success">3 Days/Week</span>
                        <span class="label label-danger">Time: 7:00pm</span>
                        <span class="label label-warning">Duration: 1.5 Hours</span>
                        <span class="label label-info">Media Fee : 35%</span>
                    </div>
                </header>
            </a>
    
    
            <a href="applytuition.html">
                <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
            </a>    </div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">

<h5>Tuition Code : 2rA23
<a class="item-block" href="#">
<div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
in <b>Chittagong</b> </div>
<header class="boxx">
<div> <img src="moni/any.png"></div>
<div class="hgroup">
    <h4>Class: 10</h4>
    <h5>Group: Science</h5>
    <h5>Medium: Bangla</h5>
    <h5><b>Subject: Phy,Chem,Math</b></h5>
    <h5><b>Salary: 5000 BDT</b></h5>
</div>
<div class="header-meta">
    <span class="location">Chittagong</span>
    <span class="label label-success">3 Days/Week</span>
    <span class="label label-danger">Time: 4:00pm</span>
    <span class="label label-warning">Duration: 1.5 Hours</span>
    <span class="label label-info">Media Fee : 35%</span>
</div>
</header>
</a>
<a href="applytuition.html">
    <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
</a></h5>  
</div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">
    
        <h5> Tuition Code : 2rA23
            <a class="item-block" href="#">
                <div  class="text-center"> <b>CUET </b>Female Tutor Wanted
                    in <b>Chittagong</b> </div>
                <header class="boxx">
                    <div> <img src="moni/lady.png"></div>
                    <div class="hgroup">
                        <h4>Class: 9</h4>
                        <h5>Group: Science</h5>
                        <h5>Medium: English</h5>
                        <h5><b>Subject: Phy,Chem,Math</b></h5>
                        <h5><b>Salary: 8000 BDT</b></h5>
                    </div>
                    <div class="header-meta">
                        <span class="location">Chittagong</span>
                        <span class="label label-success">3 Days/Week</span>
                        <span class="label label-danger">Time: 7:00pm</span>
                        <span class="label label-warning">Duration: 1.5 Hours</span>
                        <span class="label label-info">Media Fee : 35%</span>
                    </div>
                </header>
            </a>
    
    
            <a href="applytuition.html">
                <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
            </a>    </div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">

<h5>Tuition Code : 2rA23
<a class="item-block" href="#">
<div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
in <b>Chittagong</b> </div>
<header class="boxx">
<div> <img src="moni/any.png"></div>
<div class="hgroup">
    <h4>Class: 10</h4>
    <h5>Group: Science</h5>
    <h5>Medium: Bangla</h5>
    <h5><b>Subject: Phy,Chem,Math</b></h5>
    <h5><b>Salary: 5000 BDT</b></h5>
</div>
<div class="header-meta">
    <span class="location">Chittagong</span>
    <span class="label label-success">3 Days/Week</span>
    <span class="label label-danger">Time: 4:00pm</span>
    <span class="label label-warning">Duration: 1.5 Hours</span>
    <span class="label label-info">Media Fee : 35%</span>
</div>
</header>
</a>
<a href="applytuition.html">
    <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
</a></h5>  
</div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">
    
        <h5> Tuition Code : 2rA23
            <a class="item-block" href="#">
                <div  class="text-center"> <b>CUET </b>Female Tutor Wanted
                    in <b>Chittagong</b> </div>
                <header class="boxx">
                    <div> <img src="moni/lady.png"></div>
                    <div class="hgroup">
                        <h4>Class: 9</h4>
                        <h5>Group: Science</h5>
                        <h5>Medium: English</h5>
                        <h5><b>Subject: Phy,Chem,Math</b></h5>
                        <h5><b>Salary: 8000 BDT</b></h5>
                    </div>
                    <div class="header-meta">
                        <span class="location">Chittagong</span>
                        <span class="label label-success">3 Days/Week</span>
                        <span class="label label-danger">Time: 7:00pm</span>
                        <span class="label label-warning">Duration: 1.5 Hours</span>
                        <span class="label label-info">Media Fee : 35%</span>
                    </div>
                </header>
            </a>
    
    
            <a href="applytuition.html">
                <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
            </a>    </div>

    <div class="tuition-col">

        <h5>Tuition Code : 2rA23
            <a class="item-block" href="#">
        <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
            in <b>Chittagong</b> </div>
        <header class="boxx">
            <div> <img src="moni/any.png"></div>
            <div class="hgroup">
                <h4>Class: 10</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
            </div>
            <div class="header-meta">
                <span class="location">Chittagong</span>
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 4:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
        </header>
    </a>
    <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a></h5>  
</div>

<div class="tuition-col">

<h5>Tuition Code : 2rA23
<a class="item-block" href="#">
<div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
in <b>Chittagong</b> </div>
<header class="boxx">
<div> <img src="moni/any.png"></div>
<div class="hgroup">
    <h4>Class: 10</h4>
    <h5>Group: Science</h5>
    <h5>Medium: Bangla</h5>
    <h5><b>Subject: Phy,Chem,Math</b></h5>
    <h5><b>Salary: 5000 BDT</b></h5>
</div>
<div class="header-meta">
    <span class="location">Chittagong</span>
    <span class="label label-success">3 Days/Week</span>
    <span class="label label-danger">Time: 4:00pm</span>
    <span class="label label-warning">Duration: 1.5 Hours</span>
    <span class="label label-info">Media Fee : 35%</span>
</div>
</header>
</a>
<a href="applytuition.html">
    <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
</a></h5>  
</div> 
</div>
   </div>
  
</body>

</html>