<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title >Tuitionpedia4You</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="4pm.css">
    </head>
    <body>
       <!------------ class of body -------------->
       <div class="container">

        <!---header part--------------->
        <div class="navbar">
            <img src="images/tuitonpedia.jpg" class="tuitionpedia">
            <nav>
                <ul>
                    <li><a href="home.html">HOMEPAGE</a></li>
                    <li><a href="Registration.html">REGISTRATION</a></li>
                    <a href="login.html">                 
                           <button type="button" class="btnlogin" >LOGIN</button>
                    </a>
                </ul>
            </nav>
            
        </div> 
        <!-------end of header part------------------>

        
  
   
  
<div class="cardBox" > 
    
    <!-- Search bar  -->
   
    <div class="tuition-col">

        <h5>
            <a class="item-block" href="#">
        
        <header class="boxx">
            <div> <img src="moni/male.png"></div>
            <div class="hgroup">
                <h4> Tuition Code : dfkk3 </h4>
                <h4 >Class: 11</h4>
                <h5>Group: Science</h5>
                <h5>Medium: Bangla</h5>
                <h5><b>Subject: Phy,Chem,Math</b></h5>
                <h5><b>Salary: 5000 BDT</b></h5>
                <h5>Location: Barishal</h5>
                <h5><b>Instituion: BU</b></h5>
                <h5><b>Gender: Male</b></h5>
            </div>
            <div class="header-meta">
                <span class="label label-success">3 Days/Week</span>
                <span class="label label-danger">Time: 6:00pm</span>
                <span class="label label-warning">Duration: 1.5 Hours</span>
                <span class="label label-info">Media Fee : 35%</span>
            </div>
            
            <a href="applytuition.html">
        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
    </a>
        </header>
    </a>
    
    
    </h5>  
    </div>
<div class="tuition-col">

    <h5>
        <a class="item-block" href="#">
    
    <header class="boxx">
        <div> <img src="moni/male.png"></div>
        <div class="hgroup">
            <h4> Tuition Code : dfkk3 </h4>
            <h4 >Class: 11</h4>
            <h5>Group: Science</h5>
            <h5>Medium: Bangla</h5>
            <h5><b>Subject: Phy,Chem,Math</b></h5>
            <h5><b>Salary: 5000 BDT</b></h5>
            <h5>Location: Barishal</h5>
            <h5><b>Instituion: BUST</b></h5>
            <h5><b>Gender: Male</b></h5>
        </div>
        <div class="header-meta">
            <span class="label label-success">3 Days/Week</span>
            <span class="label label-danger">Time: 6:00pm</span>
            <span class="label label-warning">Duration: 1.5 Hours</span>
            <span class="label label-info">Media Fee : 35%</span>
        </div>
        
        <a href="applytuition.html">
    <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>
</a>
    </header>
</a>


</h5>  
</div>
</div>
   </div>
  
</body>

</html>