<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title >Tuitionpedia4You</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?
        family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
        
        <link  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!---counter link-->
<link  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="gttps://code.jquery.com/jquery-1.12.4.min.js"
integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7l0y9C27hHQ+Xp8a4MxAQ="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        
    </head>
    <body>
       
       <div class="container">
        
       <div class="navbar">
            <img src="D.jpg" class="tuitionpedia">
            <nav>
                <ul>
                    <li><a href="home.html">HOMEPAGE</a></li>
                    <a href="login.php">                 
                           <button type="button" class="btnlogin" >LOGIN</button>
                    </a>
                </ul>
            </nav>
            
        </div> 
           
        <div class="row">
            <div class="col">
                <h1 class="heading-1">Tuitionpedia4You</h1>
                <p>Tuitionpedia4You.com is one of the largest
                     tuition media in Bangladesh. Which aims to
                     provide tuition to people who are searching
                     for tuition. We have an objective to provide
                     highly qualified teachers To those who can't
                     find the appropriate teachers. We have large
                     number of tutors from different university and 
                     different subjects</p>
                    
                     <div class="but">
                        <a href="searchtutor.html"><span></span> SEARCH HERE</a>
                        <a href="about.html"><span></span> ABOUT US </a>
                     </div>

            </div>
            
            <div class="col">
                <div class="card card1">
                    <h3>Request For Tuitions</h3>
                    <p>Looking for here wanted tuitions</p>
                </div>
                <div class="card card2">
                    <h3>Request For Tutors</h3>
                    <p>Looking here for expert teachers</p>
                </div>
            </div>
                <div class="col">
                <div class="card card3">
                    <h3>Avaiable Tuitions</h3>
                    <p>Number and details of avaiable tuitions</p>
                </div>
                <div class="card card4">
                    <h3>Avaiable Teachers/Tutors</h3>
                    <p>Number and details of avaiable tutors</p>
                </div>
            </div>
            
        
       </div>

       <!--Features-->
       <section id="feature">
        <div class="title-text">
            <p>FEATURES</p>
           <h1>Why Choose Our Website!!!!</h1>
        </div>

<div class="row">
    <div class="feature-col">
        <h3>One-on-One Tutoring </h3>
        <p>Personalized one-on-one tutoring 
            sessions provide individual attention
             and tailored instruction to address
              specific learning needs and goals.</p>
    </div>
    <div class="feature-col">
        <h3>Group Classes </h3>
        <p>Group classes bring together students
             with similar learning objectives, 
             offering interactive sessions, discussions,
              and collaborative learning opportunities.</p>
    </div>
    <div class="feature-col">
        <h3>Flexibility in Scheduling</h3>
        <p> To accommodate busy schedules, tuition services 
            often provide flexible scheduling options, 
            allowing students to book sessions at convenient times.</p>
    </div>
    <div class="feature-col">
        <h3>Qualified Tutors</h3>
        <p>  Tuition services typically employ experienced and
             qualified tutors who possess expertise in their
              respective subjects and have a passion for teaching.</p>
    </div>
    <div class="feature-col">
        <h3>Online Learning Platforms</h3>
        <p> Many tuition services offer online platforms that
             facilitate virtual learning, enabling students 
             to access resources, attend classes, and engage
              with tutors remotely.</p>
    </div>
</div>


<div class="browse-title">
    <h4 >BROWSE ALL TEACHERS</h4>
    <p >-------------------------------------</p>
</div>


<!---Counter----------------------->
<div class="counter-up">
    <div class="content">        
        <div class="box">
            <div class="counter">+1224</div>
            <div class="tex">Tutors</div>
        </div>
        <div class="box">
            <div class="counter">+6024</div>
            <div class="tex">Tuitors</div>
        </div>
        <div class="box">
            <div class="counter">+2524</div>
            <div class="tex">Resume</div>
        </div>
        <div class="box">
            <div class="counter">+2024</div>
            <div class="tex">SuccessStory</div>
        </div>
        
    </div>
</div>



<script>
    $(document).ready(function(){
        $(".counter").counterUp({
            DelayNode:50,
            TimeRanges:1200
        });
    });
</script>


<!----end of counter----------------------->

<section class="tuition">
    <h1>LOOKING FOR EXPERT TUTOR??</h1>
    <a href="Guardian_requ.html">Click here to find the expert tutors</a>
    <div class="row">
        <div class="tuition-col">
            <img src="111.jfif" >
            <div class="layer">
                <h3>READ</h3>
            </div>
        </div>
        <div class="tuition-col">
            <img src="116.png" >
            <div class="layer">
                <h3>WRITE</h3>
            </div>
        </div>
        <div class="tuition-col">
            <img src="113.jpg" >
            <div class="layer">
                <h3>DRAW</h3>
            </div>
        </div>
        <div class="tuition-col">
            <img src="112jpg.jpg" >
            <div class="layer">
                <h3>LISTEN</h3>
            </div>
        </div>
    </div>

</section>



</section>
        



<!--<div class="tuition-col"> 
     <a href="" class="hero-btn">CONTACT US</a>
    <img src="images/113.jpg" >
    <div class="layer">
        <h3>Enroll For Our Online and Offline tuitions or tuturs 
            <br>Anywhere From the Country</h3>
    </div>
  
</div>-->





    <!-- Tuition item -->




    <div class="col-xs-12">
        <h1>Find Tutors: </h1>
        Tuition Code : 1
        <a class="item-block" href="#">
            <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
                in <b>Chittagong</b> </div>
            <header class="boxx">
                <div> <img src="any.png"></div>
                <div class="hgroup">
                    <h4>Class: 10</h4>
                    <h5>Group: Science</h5>
                    <h5>Medium: Bangla</h5>
                    <h5><b>Subject: Phy,Chem,Math</b></h5>
                    <h5><b>Salary: 5000 BDT</b></h5>
                </div>
                <div class="header-meta">
                    <span class="location">Chittagong</span>
                    <span class="label label-success">3 Days/Week</span>
                    <span class="label label-danger">Time: 4:00pm</span>
                    <span class="label label-warning">Duration: 1.5 Hours</span>
                    <span class="label label-info">Media Fee : 35%</span>
                </div>
            </header>
        </a>


        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>

    </div>

    <div class="col-xs-12">
        Tuition Code : 2
        <a class="item-block" href="#">
            <div  class="text-center"> <b>CUET </b>Female Tutor Wanted
                in <b>Chittagong</b> </div>
            <header class="boxx">
                <div> <img src="lady.png"></div>
                <div class="hgroup">
                    <h4>Class: 9</h4>
                    <h5>Group: Science</h5>
                    <h5>Medium: English</h5>
                    <h5><b>Subject: Phy,Chem,Math</b></h5>
                    <h5><b>Salary: 8000 BDT</b></h5>
                </div>
                <div class="header-meta">
                    <span class="location">Chittagong</span>
                    <span class="label label-success">3 Days/Week</span>
                    <span class="label label-danger">Time: 7:00pm</span>
                    <span class="label label-warning">Duration: 1.5 Hours</span>
                    <span class="label label-info">Media Fee : 35%</span>
                </div>
            </header>
        </a>


        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>

    </div>

    <div class="col-xs-12">
        Tuition Code : 3
        <a class="item-block" href="#">
            <div  class="text-center"> <b>Khulna University </b>Male Tutor Wanted
                in <b>Khulna</b> </div>
            <header class="boxx">
                <div> <img src="male.png"></div>
                <div class="hgroup">
                    <h4>Class: 12</h4>
                    <h5>Group: Science</h5>
                    <h5>Medium: Bangla</h5>
                    <h5><b>Subject: Phy,Chem,Math,biology</b></h5>
                    <h5><b>Salary: 8000 BDT</b></h5>
                </div>
                <div class="header-meta">
                    <span class="location">Khulna</span>
                    <span class="label label-success">3 Days/Week</span>
                    <span class="label label-danger">Time: 4:00pm</span>
                    <span class="label label-warning">Duration: 1.5 Hours</span>
                    <span class="label label-info">Media Fee : 35%</span>
                </div>
            </header>
        </a>


        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>

    </div>

    <div class="col-xs-12">
        Tuition Code : 4
        <a class="item-block" href="#">
            <div  class="text-center"> <b>BUET </b>Female Tutor Wanted
                in <b>Dhaka</b> </div>
            <header class="boxx">
                <div> <img src="any.png"></div>
                <div class="hgroup">
                    <h4>Class: 11</h4>
                    <h5>Group: Science</h5>
                    <h5>Medium: Bangla</h5>
                    <h5><b>Subject: Phy,Chem,Math,Bio</b></h5>
                    <h5><b>Salary: 10,000 BDT</b></h5>
                </div>
                <div class="header-meta">
                    <span class="location">Dhaka</span>
                    <span class="label label-success">3 Days/Week</span>
                    <span class="label label-danger">Time: 6:00pm</span>
                    <span class="label label-warning">Duration: 1.5 Hours</span>
                    <span class="label label-info">Media Fee : 35%</span>
                </div>
            </header>
        </a>


        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>

    </div>

    <div class="col-xs-12">
        Tuition Code : 5
        <a class="item-block" href="#">
            <div  class="text-center"> <b>Dhaka University </b>Male Tutor Wanted
                in <b>Dhaka</b> </div>
            <header class="boxx">
                <div> <img src="any.png"></div>
                <div class="hgroup">
                    <h4>Class: 9</h4>
                    <h5>Group: Science</h5>
                    <h5>Medium: English</h5>
                    <h5><b>Subject: Phy,Math</b></h5>
                    <h5><b>Salary: 6000 BDT</b></h5>
                </div>
                <div class="header-meta">
                    <span class="location">Dhaka</span>
                    <span class="label label-success">3 Days/Week</span>
                    <span class="label label-danger">Time: 4:00pm</span>
                    <span class="label label-warning">Duration: 1.5 Hours</span>
                    <span class="label label-info">Media Fee : 35%</span>
                </div>
            </header>
        </a>


        <button data-ng-click="gotoApplyPage(obj.tuitionCode)">Apply</button>

    </div>



       
 <!-- How it works -->
 <section>
        <div class="col-sm-12">
            <header class="section-header">
                <span>Workflow</span>
                <h2>How it works</h2>
            </header>

            <p>
                ১) টিউশন পেতে হলে অবশ্যই আমাদের ওয়েবসাইটে রেজিস্ট্রেশন ১০০% সম্পন্ন করতে হবে। <br>
                ২) অভিভাবকের সাথে স্বাক্ষাৎ করে টিউশন নিশ্চিত হলে আপনাকে
                ২ কিস্তিতে শুধুমাত্র প্রথম মাসের বেতনের ৭০% মিডিয়া ফি দিতে হবে,
                দ্বিতীয় মাস থেকে আমাদের কে আর কোন ফি দিতে হবে না।
                স্বাক্ষাতের দিন ৩৫% এবং জয়েন করার ৭দিন পর বাকি ৩৫% ফি দিতে হবে।<br>
                ৩)প্রথম মাসের স্যালারি পাওয়ার আগে টিউশন চলে সম্পূর্ণ মিডিয়া ফি ফেরত দেওয়া হবে।<br>
                ৪)প্রথম মাসের বেতন পাওয়ার পর টিউশন চলে গেলে সম্পূর্ণ ফি ফেরত দেওয়া হবে,তবে আপনাকে যে বেতন দেওয়া হবে  সেটার অর্ধেক মিডিয়া পাবে।<br>
                ৫)আপনার ব্যক্তিগত কারনে টিউশন ছেড়ে দিলে বা চলে গেলে কো মিডিয়া ফি ফেরত দেওয়া হবে না।</p>
        </div>        
</section>


<!-- END How it works -->
 <div class="last">
    <div class="row">
        <div class="col-md-6">
          <h3>Contact Us</h3>
          <p>If you have any questions or need support, feel free to reach out to our friendly team.</p>
          <ul>
            <li>Email: info@tuitionpedia4You.com</li>
            <li>Phone: +1 123-456-7890</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Follow Us</h3>
          <p>Stay connected with us on social media for updates and educational resources.</p>
          <ul>
            <li><a href="https://www.facebook.com/tuitionservices">Facebook</a></li>
            <li><a href="https://twitter.com/tuitionservices">Twitter</a></li>
            <li><a href="https://www.instagram.com/tuitionservices">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
      
    </div>

  </div>

    </body>
</html>