*{
    margin: 0;
    padding: 0;
}

.header
{
    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
    height: 15vh;
    background-image: url(tutor.png);
    background-position: center;
    background-size: auto;
    box-sizing: border-box;
}

.container{
    width:  100%;
    height: 100vh;
    background-image:linear-gradient(rgba(8, 8, 8, 0.7),rgba(8, 8, 8, 0.7)), url(7.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
nav ul li a::after{
   content: '';
   width: 0%;
   height: 2px;
   background:#f44336;
   display: block;
   margin:auto;
   transition: 0.5s;
    
}
nav ul li a:hover::after{

    width: 100%;
}
.btnlogin{
    /* display: inline-block; */
    /* padding: 0px,0px; */
    background: transparent;
    color: #f3efef;
    border: 2px solid #ded0d0;
    border-radius: 5px;
    /* font-size: 15px;
    font-weight: 40;
    margin-left: 40px; */
    cursor:pointer;
    transition: all ease .45s;
}
.btnlogin:hover{
    transform: scale(1,1);
    background: #fff;
    border: 2px silid #fff;
    color: #000000;
}


h2{
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    padding-top: 4%;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

div.request
{
    position: center;
    width: 470px;
    height: 470px;
    border-radius: 15px;
    background-color: #98636f;
    flex-direction: column;
    position: relative;
    background: transparent;
    border: 3px solid rgba(255, 251, 251, 0.7);
    backdrop-filter: blur(20px);
    box-shadow: #081680 0px 48px 100px 0 px;
    display: flex;
    align-items:center;
    color: #fff;
    top: 63%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 10px;
}
.scrollbox{
    overflow: auto;
}
.scrollbox-inner{
    font-size: 16px;
}
/* .scrollbox
{
    position: relative;
    width: 470px;
    height: 470px;
    background: transparent;
    border-radius: 24px;
    border: 3px solid rgba(255, 251, 251, 0.7);
    backdrop-filter: blur(20px);
    box-shadow: #0c21c1 0px 48px 100px 0 px;
    display: flex;
    align-items:center;
    color: #fff;
    top: 63%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
} */
label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}

input#name
{
    width:  100%;
    border: 1px solid #f6f2f2;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #f8f4f4;
    box-shadow: inset 1px 1px 5px rgba(63, 70, 198, 0.3);
}

input#submit{
    width: 300px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    border-radius: 3px;
    background-color:  rgba(111, 230, 141, 0.8);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(80, 79, 79, 0.3);
    border:1px solid rgba(250, 247, 247, 0.3) ;
    margin-top: 20px;
    
}

input#submit:hover{
    background-color: #d4b3b3;
    color: #000000;
}

label,h2{
    text-shadow: 1px 1px 5px rgba(22, 57, 91, 0.3);
}
h3
{
    text-align: bottom;
    padding-top: 43%;
    font-family: sans-serif;
    color: rgb(226, 206, 206);
    font-size: 20px;
}
h4
{
    text-align: bottom;
    padding-top: 0%;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}

