@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

:root{
    --main-color:purple;
    --red:red;
    --oragen:orange;
    --white:white;
    --black:black;
    --light-color:grey;
    --light-bg:#eee;
    --border:.1rem solid rgba(0,0,0,.2);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

*::selection{
    background-color: var(--main-color);
    color:white;
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}
*::-webkit-scrollbar-track{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--light-bg);
    padding-left: 30rem;
}
body.active{
    padding-left: 0;
}
section{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color: white;
    margin-top: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
}

.btn,
.option-btn,
.delete-btn{
    display: block;
    width: 100%;
}
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    display: inline-block;
}
.btn,
.inline-btn{
    background-color: var(--main-color);
}
.option-btn,
.inline-option-btn{
    background-color: var(--oragen);
} 
.delete-btn,
.inline-delete-btn{
    background-color: var(--red);
}
.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover{
    background-color: var(--black);
    color: var(--white);
}

.flex-btn{
    display: flex;
    gap: 1rem;
}

.header{
    background-color: white;
    border-bottom: var(--border);
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .flex{
    padding: 1.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .flex .logo{
    font-size: 2.5rem;
    color: black;
    font-weight: bolder;
}


.header .flex .search-form{
    width: 50rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    background-color: var(--light-bg);
}

.header .flex .search-form input{
    width: 100%;
    background: none;
    font-size: 2rem;
    color: black;
}

.header .flex .search-form button{
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
    background: none;
}

.header .flex .search-form button:hover{
    color: var(--main-color);
}
.header .flex .icons div{
    font-size: 2rem;
    color: var(--black);
    border-radius: .5rem;
    height: 4.5rem;
    cursor:pointer;
    width: 4.5rem;
    line-height: 4.4rem;
    background-color: var(--light-bg);
    text-align: center;
    margin-left: .5rem;
}
.header .flex .icons div:hover{
    background-color: var(--black);
    color: var(--white);
}
#search-btn{
    display: none;
}

.header .flex .profile{
    position: absolute;
    top: 120%; right: 2rem;
    background-color: white;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    width: 30rem;
    transform: scale(0);
    transform-origin: top right;
    transition: .2s linear;
}
.header .flex .profile.active{
    transform: scale(1);
}
.header .flex .profile img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}
.header .flex .profile h3{
    font-size: 2rem;
    color: var(--black);
}
.header .flex .profile span{
    color: var(--light-color);
    font-size: 1.6rem;
}

.side-bar{
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 30rem;
    background-color: var(--white);
    border-right: var(--border);
    transition: .2s linear;
    z-index: 1200;
}

.side-bar .close-side-bar{
    text-align: right;
    padding: 2rem;
    padding-bottom: 0;
    display: none;
}

.side-bar .close-side-bar i{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.4rem;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    background-color: var(--red);
    text-align: center;
    border-radius: .5rem;
}

.side-bar .close-side-bar i:hover{
    background-color: var(--black);
}
.side-bar .profile{
    padding: 3rem 2rem;
    text-align: center;
}
.side-bar .profile img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}
.side-bar .profile h3{
    font-size: 2rem;
    color: var(--black);
}
.side-bar .profile span{
    color: var(--light-color);
    font-size: 1.6rem;
}
.side-bar .navbar a{
    display: block;
    padding: 2rem;
    margin: .5rem 0;
    font-size: 1.8rem;
}
.side-bar .navbar a i{
    color: var(--main-color);
    margin-right: 1.5rem;
    transition: .2s linear;
}
.side-bar .navbar a span{
    color: var(--light-color);
}
.side-bar .navbar a:hover{
    background-color: var(--light-bg);
}
.side-bar .navbar a:hover i{
    margin-right: 2.5rem;
}
.side-bar.active{
    left : -31rem;
}



 /* Set margin-top for the outer div */
 .item-blocks-connected {
    margin-top: 50px;
}

/* Center align the text in the inner div */
.text-center {
    text-align: auto;
   
}

/* Style the header section */
header {
    padding: 10px;
    background-color: #f0f0f0;
}

/* Style the tuition code */
.col-xs-12 {
    margin-bottom: 20px;
    align-items: center;
}


 .col-xs-12 h1{
    text-align: center;
    color: #000000;
}
/* Style the preferred university and gender */
.text-center b {
    font-weight: bold;
    color: #5cb85c;
}

/* Style the tuition item image */
.boxx img {
    width: 10%;
    max-width: 10%;
  
    margin-bottom: 10px;
}

/* Style the header group */
.hgroup h4,
.hgroup h5 {
    margin: 5px 0;
    color: #042745;
}

/* Style the location label */
.location {
    font-weight: bold;
    color: rgb(5, 89, 61);
}

/* Style the labels for days/week, time, duration, and media fee */
.label {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}

/* Style the success label */
.label-success {
    background-color: #5cb85c;
    color: #fff;
}

/* Style the danger label */
.label-danger {
    background-color: #d9534f;
    color: #fff;
}

/* Style the warning label */
.label-warning {
    background-color: #f0ad4e;
    color: #fff;
}

/* Style the info label */
.label-info {
    background-color: #5bc0de;
    color: #fff;
}

/* Style the apply button */
button {
    display: block;
    width: 10%;
    padding: 10px;
    margin-top: 10px;
    background-color: #17d55d;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0a6147;
}

.boxx{
    height: 42%;
    width: 45%;
    transition: 0.5s;
    align-items: center;
}
.boxx:hover{
    background-color: rgb(46, 199, 132);
}




























.footer{
    position: sticky;
    bottom: 0; right: 0; left: 0;
    background-color: var(--white);
    border-top: var(--border);
    padding: 2.5rem 2rem;
    text-align: center;
    color: var(--black);
    font-size: 2rem;
    margin-top: 2rem;
    z-index: 1000;
}
.footer span{
    color: var(--main-color);
}

















/* //media queries */

 @media (max-width:1200px){

    body{
       padding-left: 0;
    }
 
    .side-bar{
       left: -30rem;
       transition: .2s linear;
    }
 
    .side-bar #close-btn{
       display: block;
    }
 
    .side-bar.active{
       left: 0;
       box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
       border-right: 0;
    }
 
 }
 
 @media (max-width:991px){
 
    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px){
 
    #search-btn{
       display: inline-block;
    }
 
    .header .flex .search-form{
       position: absolute;
       top: 99%; left: 0; right: 0;
       border-top: var(--border);
       border-bottom: var(--border);
       background-color: var(--white);
       border-radius: 0;
       width: auto;
       padding: 2rem;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
       transition: .2s linear;
    }
 
    .header .flex .search-form.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .flex-btn{
       gap: 0;
       flex-flow: column;
    }
 
    .home-grid .box-container{
       grid-template-columns: 1fr;
    }
 
    .about .row .image img{
       height: 25rem;
    }
 
 } 